<div class="header">
  <h1 class="text-muted">build reaction factory</h3>
</div>

<div class="jumbotron">
  <h1>Pick Your Poison!</h1>
  <p class="lead">
    Did the build succeed or fail?
  </p>
  <p>
    <button class="btn btn-lg btn-success" ng-click="getSuccess()">
      Sweet Success!&nbsp;
      <span class="glyphicon glyphicon-ok"></span>
    </button>
    <button class="btn btn-lg btn-danger" ng-click="getFailure()">
      Bitter Failure!&nbsp;
      <span class="glyphicon glyphicon-remove"></span>
    </button>
  </p>
  <div ng-show="imageUrl">
    <div><img ng-src="{{imageUrl}}" /></div><br />
    <div><input id="image-url-display" type="text" ng-model="imageUrl" readonly/></div>
  </div>

  <script type="text/javascript">
    $(function(){
      $('#image-url-display').on('click', function(){
        $('#image-url-display').select();
      });
    });
  </script>
</div>

